@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-ovo: "Ovo", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-light: #f5f5f5;
  --color-light-hover: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Outfit", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}